<% include ./partials/header %>
  <div class="field-form">
 	<h2 class='h4 my-4'>Sign Up</h2>
    <form action="/register" method="POST">
      <div class="row form-group">
        <div class="col">
		    <input required type="text" name="firstname" class="form-custom form-control" id="firstname" placeholder="First Name">
		</div>
		<div class="col">
		    <input required type="text" name="lastname" class="form-custom form-control" id="lastname" placeholder="Last Name">
        </div>	
      </div>
	  <div class="form-group">
	    <input type="text" name="image" class="form-control form-custom" id="image" placeholder="Image URL">
	  </div>  
	  <div class="form-group">
	    <input required type="text" name="username" class="form-control form-custom" id="username" placeholder="Username">
	  </div>  
	  <div class="form-group">
	    <input required type="email" name="email" class="form-control form-custom" id="email" placeholder="Email Address">
	  </div>  
	  <div class="row form-group">
	  	<div class="col">
		    <input required type="password" name="password" class="form-control form-custom" id="password" placeholder="Password">
	  	</div>
	  	<div class="col">
	  		<input required type="password" name="password-confirm" class="form-control form-custom" id="password-confirm" placeholder="Type Your Password Again">	
	  	</div>
	  </div>  
	  <button type="submit" class="btn-secondary btn">Sign Up!</button>
	</form>	
    <hr>
  </div>
<% include ./partials/footer%>