img {
	object-fit: cover;
	object-position: 50% 50%;
	min-width: 100%;
	min-height: 100%;
}

#nav-width {
	width: 100%;
}

.img-latest {
	height: 250px;
	width: 100%;
}

.img-posts {
	height: 250px;
	width: 100%;
}

@media (max-width: 1200px) {
	.img-posts {
		height: 100%;
	}
}