img {
	object-fit: cover;
	object-position: 50% 50%;
	min-width: 100%;
	min-height: 100%;
}

#no-button {
	background: none;
	border: none;
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	letter-spacing: 0.05em;
	padding: 0;
}

#nav-width {
	width: 100%;
}

.y-2-down {
	transform: translate(0, 1px);
}

.edit-a-link {
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	letter-spacing: 0.05em;
}

.text-convert {
	text-align: justify;
	font-family: "Open Sans", sans serif;
	font-weight: 400;
	font-size: 0.95em;
	color: #6c757d;
	line-height: 1.5;
}

.img-latest {
	height: 250px;
	width: 100%;
}

.img-posts {
	height: 250px;
	width: 100%;
}

@media (max-width: 1200px) {
	.img-posts {
		height: 100%;
	}
}