body {
}

img {
	object-fit: cover;
	object-position: 50% 50%;
	min-width: 100%;
	min-height: 100%;
}

#categories {
	height: 42px;
}

#categories-default {
	color: darkGray;
}

#new-post {
	width: 100%;
	padding: 0 20px;
	max-width: 800px;
	margin: 40px auto;
}

#login {
	max-width: 400px;
	margin: 15% auto;
}

#no-button {
	background: none;
	border: none;
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	letter-spacing: 0.05em;
	padding: 0;
}

#nav-width {
	width: 100%;
}

#last-name-move {
	transform: translate(0, 8px);
}

.field-form {
	bottom: 0;
	width: 100%;	
	padding: 0 20px;
	max-width: 500px;
	margin: 10% auto;
}

.form-custom {
	font-size: 0.9rem;
	background: none;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
	border-radius: 0;
	font-family: "Open Sans", sans-serif;
}

.form-custom:focus {
	box-shadow: none;
	background-color: none;
	outline: none;
	border-bottom: 1px solid #33b35a;
}

.y-2-down {
	transform: translate(0, 1px);
}

.edit-a-link {
	font-weight: 400;
	color: #999;
	text-transform: capitalize;
	letter-spacing: 0.05em;
}

.edit-a-link:hover {
	color: #999;
}

.text-convert {
	text-align: justify;
	font-family: "Open Sans", sans serif;
	font-weight: 400;
	font-size: 0.95em;
	color: #6c757d;
	line-height: 1.5;
}

.img-latest {
	height: 250px;
	width: 100%;
}

.img-posts {
	height: 250px;
	width: 100%;
}

@media (max-width: 1200px) {
	.img-posts {
		height: 100%;
	}
}