<% include ../partials/header %>
  <div id="new-post">
 	<h3 class='mb-4'>Create a New Post</h3>
    <form action="/posts" method="POST">
      <div class="form-group">
	    <input type="text" name="post[title]" class="form-custom form-control" id="title" placeholder="Title">
      </div>
	  <div class="row form-group">
	  	<div class="col">
	  		<select name="post[categories]" id="categories" class="form-custom form-control" required>
	  			<option id="categories-default" selected disabled hidden>Categories</option>
	  			<option value="technology">Technology</option>
	  			<option value="lifestyle">Lifestyle</option>
	  			<option value="DIY">DIY</option>
	  			<option value="entertainment">Entertainment</option>
	  			<option value="journal">Journal</option>
	  		</select>
	  	</div>
	  	<div class="col">
		    <input type="text" name="post[image]" class="form-custom form-control" id="image" placeholder="Image URL">
	  	</div>
	  </div>
	  <div class="form-group">
	    <textarea name="post[body]" id="body" placeholder="Start Writing!" class="form-custom form-control" rows="18"></textarea>
	  </div>
	  <button type="submit" class="btn-secondary btn">Submit</button>
	</form>	
    <hr>
  </div>
<% include ../partials/footer %>