<% include ../partials/header %>
  <div class="container my-3">
 	<h1 class=''>Create a New Post</h1>
 	<hr>
 	<div class="container" style="max-width: 700px">
        <form action="/posts" method="POST">
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" name="post[title]" class="form-control" id="title" placeholder="Type Title">
		  </div>
		  <div class="form-group">
		    <label for="image">Image URL</label>
		    <input type="text" name="post[image]" class="form-control" id="image" placeholder="Enter Image">
		  </div>  
		  <div class="form-group">
		  	<label for="body">Content</label>
		    <textarea name="post[body]" id="body" class="form-control" rows="15"></textarea>
		  </div>
		  <button type="submit" class="btn btn-lg btn-outline-success">Submit</button>
		</form>	
    </div>
    <hr>
  </div>
<% include ../partials/footer %>